/* ==========================================================================
. Modules:Banner
========================================================================== */
.banner-container a {
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 15px;
  overflow: hidden;
}

.banner-container .banner-image {
  width: 100%;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

.banner-container .banner-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  color: #212121;
  padding: 10px 20px;
  font-size: 18px;
  z-index: 1;
}

@media (max-width: 768px) {
  .banner-container .banner-text {
    font-size: 14px;
  }
}

.banner-container a.banner-placement {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
}

.banner-container:hover .banner-image {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.banner-img a {
  display: block;
}

.banner-img img {
  max-width: 100%;
  border-radius: 10px;
}

.banner-img.banner-side-main-slider a {
  background-size: cover;
  border-radius: 10px;
}

.banner-img.banner-side-main-slider img {
  display: none;
}

.banner-img.banner-side-main-slider.bg-position-right a {
  background-position: right;
}

@media (max-width: 992px) {
  .banner-img.banner-side-main-slider a {
    background-image: none !important;
    height: auto !important;
  }
  .banner-img.banner-side-main-slider img {
    display: block;
    max-width: 100%;
  }
}

