/* ==========================================================================
. Modules:Compare
========================================================================== */
.compare-list .swiper-slide {
  width: 25%;
}

@media (max-width: 768px) {
  .compare-list .swiper-slide {
    width: 190px;
  }
}

.compare-list .swiper-slide .product-card .product-thumbnail img {
  display: block;
  margin: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.compare-list.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 6px solid #2962ff;
  z-index: 10;
}

.compare-list.is-sticky .product-card .product-thumbnail img {
  max-width: 100px;
}

.compare-list.is-sticky .product-card .product-price {
  display: none;
}

.compare-list-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .compare-list-search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .compare-list-search .search-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 15px;
  }
  .compare-list-search .brand-filter-search {
    width: 100% !important;
  }
}

.compare-list-search .brand-filter-search {
  width: 200px;
}

.compare-quick-title {
  color: #4d4d4d;
  font-size: 19px;
  line-height: 1.158;
  margin-bottom: 25px;
  letter-spacing: -.3px;
  position: relative;
  padding-right: 19px;
}

.compare-quick-title:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 0;
  height: 0;
  border-color: transparent #00bfd6 transparent transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
}

.compare-list-products .product-card .product-thumbnail img {
  max-width: 100%;
}

.compare-quick-list {
  list-style: none;
  padding: 0;
  margin-bottom: 47px;
  background-color: #fff;
  overflow-x: auto;
}

.compare-quick-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
  min-width: 768px;
}

.compare-list-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  font-size: 13px;
  line-height: 1.692;
  padding: 9px 26px;
  background-color: #eaeaea;
  font-weight: 700;
}

.compare-list-value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  border-right: 1px solid #e4e4e4;
}

.compare-list-value:first-child {
  border-right: none;
}

.compare-list-value .block {
  padding: 14px 18px 12px;
  font-size: 14px;
  line-height: 1.571;
  color: #4d4d4d;
  letter-spacing: -.3px;
  min-height: 47px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

