/* ==========================================================================
. Modules:Global
========================================================================== */
.logo-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo-container .logo img {
  margin-bottom: 15px;
  max-width: 100%;
}

.logo-container .logo .logo-text {
  font-weight: 800;
}

.logo-container.logo-box {
  min-width: 250px;
  background-color: #2962ff;
  padding: 15px 0;
}

.map-container {
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}

