/* ==========================================================================
. Modules:Profile
========================================================================== */
.profile-user-info .profile-detail {
  padding: 15px;
}

.profile-user-info .profile-detail .profile-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-user-info .profile-detail .user-options {
  border-bottom: 1px solid #dedede;
  padding: 5px 0;
}

.profile-user-info .profile-detail .user-options ul {
  position: relative;
}

.profile-user-info .profile-detail .user-options ul::before {
  content: '';
  position: absolute;
  right: 23px;
  bottom: 5px;
  width: 2px;
  height: 100%;
  background-color: #dedede;
}

.profile-user-info .profile-detail .user-options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-right: 40px;
}

.profile-user-info .profile-detail .user-options li::before {
  content: '';
  position: absolute;
  right: 20px;
  top: 30%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dedede;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-user-info .profile-detail .user-options li:last-child::before {
  top: unset;
  bottom: 0;
}

.profile-user-info .profile-detail .user-options li .detail {
  text-align: left;
}

.order-tabs {
  overflow-x: auto;
}

.order-tabs .nav-tabs {
  min-width: 650px;
}

.user-order-items {
  padding: 15px 0;
}

.user-order-items .user-order-item {
  border: 1px solid #efefef;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.user-order-items .user-order-item:last-child {
  margin-bottom: 0;
}

.user-order-items .user-order-item .user-order-item-header {
  border-bottom: 1px solid #efefef;
  padding: 10px 15px;
  position: relative;
}

.user-order-items .user-order-item .user-order-item-header .user-order-detail-link {
  color: #a499ff;
  padding-right: 0;
  padding-left: 0;
}

.user-order-items .user-order-item .user-order-meta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.user-order-items .user-order-item .user-order-meta::before {
  content: "\F059";
  font-family: remixicon;
  margin-left: 15px;
  font-size: 11px;
  color: #979797;
}

.user-order-items .user-order-item .user-order-item-content {
  padding: 10px 15px;
}

.user-order-items .user-order-item .user-order-item-content .user-order-item-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #efefef;
  padding: 15px 0;
  margin-bottom: 15px;
}

.user-order-items .user-order-item .user-order-item-content .user-order-item-products:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.user-order-items .user-order-item .user-order-item-content .user-order-item-products a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
}

.user-order-items .user-order-item .user-order-item-content .user-order-item-products a:last-child {
  margin-left: 0;
}

.user-order-items .user-order-item .user-order-item-content .user-order-item-products a img {
  max-width: 64px;
}

@media (max-width: 992px) {
  .user-order-items .user-order-item .user-order-item-content .cart-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .user-order-items .user-order-item .user-order-item-content .cart-item .cart-item--thumbnail {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .user-order-items .user-order-item .user-order-item-content .cart-item .cart-item--detail {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.product-list .product-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.product-list .product-list-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.product-list .product-list-item .thumbnail {
  margin-left: 15px;
}

.product-list .product-list-item .thumbnail a {
  display: block;
}

.product-list .product-list-item .thumbnail img {
  width: 60px;
}

.product-list .product-list-item .detail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-list .product-list-item .detail .title {
  display: block;
  height: 60px;
  color: #212121;
  text-decoration: none;
}

.product-list .product-list-item .detail .action {
  text-align: left;
}

.tickets .ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  max-width: 500px;
}

.tickets .ticket .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 50%;
  margin-bottom: 15px;
}

.tickets .ticket .avatar::before {
  content: "\F264";
  font-family: remixicon;
  font-size: 28px;
}

.tickets .ticket .avatar.staff::before {
  content: "\F254";
}

.tickets .ticket .text {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 15px;
  line-height: 30px;
}

.tickets .ticket .date {
  color: #979797;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
}

.tickets .ticket.reply {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: auto;
}

