/* ==========================================================================
. Modules:Shop
========================================================================== */
.listing-products {
  position: relative;
}

.listing-products .listing-products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}

.listing-products .listing-products-header .listing-products-filter-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.listing-products .listing-products-header .listing-products-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  min-width: 768px;
}

.listing-products .listing-products-header .listing-products-filter .nav-tabs {
  min-width: 768px;
  border-bottom: 0;
  overflow: auto;
}

.listing-products .listing-products-content {
  position: relative;
}

.listing-products .listing-products-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 576px) {
  .listing-products .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .listing-products .product-card .product-thumbnail {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    padding-bottom: 10px;
  }
  .listing-products .product-card .product-thumbnail img {
    max-width: 100%;
  }
  .listing-products .product-card .product-card-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    padding-top: 10px;
  }
  .listing-products .product-card .product-card-body .product-price {
    margin-top: 20px;
  }
  .listing-products .product-card .product-card-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.category-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  background-color: #fff;
  border-radius: 15px;
  color: #212121;
  padding: 20px;
  min-height: 200px;
}

.category-item a .category-img {
  max-width: 80px;
  margin-bottom: 10px;
}

.category-item a .category-title {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

