/* ==========================================================================
. Module.Widget.css
========================================================================== */
.widget {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
}

.widget.widget-footer {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.widget.widget-footer .widget-title {
  border-bottom: 0;
}

.widget.widget-collapse {
  padding: 5px 15px 0;
}

.widget.widget-collapse .widget-content {
  padding-top: 5px;
  padding-bottom: 10px;
}

.widget.widget-collapse .filter-options {
  max-height: 250px;
  padding-left: 10px;
}

.widget.widget-collapse .filter-options .color-preview {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #dee2e6;
  border-radius: 50%;
}

.widget .widget-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.widget .widget-title.widget-title--collapse-btn {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
  border-bottom: 0;
}

.widget .widget-title.widget-title--collapse-btn::before {
  content: "\EA4D";
  position: absolute;
  left: 0;
  font-family: remixicon;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.widget .widget-title.widget-title--collapse-btn[aria-expanded="true"]::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.widget .widget-title.widget-title--collapse-btn::after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #dee2e6;
}

.widget .widget--free-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widget .widget--free-shipping .free-shipping--detail {
  padding-right: 15px;
  padding-left: 15px;
}

.widget .widget--free-shipping .free-shipping--detail .title {
  font-weight: 600;
}

@media (max-width: 480px) {
  .widget .widget--free-shipping .free-shipping--detail .title {
    font-size: 13px;
  }
}

.widget .widget--free-shipping .free-shipping--detail .subtitle {
  font-size: 13px;
  color: #81858b;
}

@media (max-width: 480px) {
  .widget .widget--free-shipping .free-shipping--detail .subtitle {
    font-size: 12px;
  }
}

.widget .widget--free-shipping .free-shipping--banner img {
  max-width: 100px;
}

.widget .widget--category-results ul {
  list-style: none;
}

.widget .widget--category-results ul li {
  font-size: 13px;
  line-height: 30px;
}

.widget .widget--category-results ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #545454;
  padding-right: 15px;
  position: relative;
  text-decoration: none;
}

.widget .widget--category-results ul li a::before {
  position: absolute;
  right: 0;
  font-family: remixicon;
}

.widget .widget--category-results ul li a:hover {
  color: #2962ff;
}

.widget .widget--category-results ul li.category--arrow-left a::before {
  content: "\EA64";
}

.widget .widget--category-results ul li.category--arrow-down a::before {
  content: "\EA4E";
}

.widget .widget--category-results ul li.current {
  font-weight: 600;
  cursor: default;
}

.widget .widget--category-results ul ul {
  padding-right: 15px;
}

.widget .widget--search .form-control {
  font-size: 13px;
  min-height: 40px;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.widget .widget--search .icon {
  font-size: 14px;
}

.widget .widget-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.widget .widget-list ul a {
  color: #81858b;
  line-height: 40px;
  text-decoration: none;
}

.widget .widget-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.widget .widget-socials ul li {
  margin-left: 35px;
}

.widget .widget-socials ul li:last-child {
  margin-left: 0;
}

.widget .widget-socials ul li a {
  color: #a1a3a8;
  font-size: 26px;
  text-decoration: none;
}

.widget .widget-socials ul li a:hover {
  color: #000;
}

.filter-range {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-range li {
  width: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 1.692;
  letter-spacing: .3px;
  color: #858585;
  padding: 13px 15px 20px;
  position: relative;
}

.filter-range li span {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  font-size: 13px;
  font-weight: 700;
}

.filter-range li input[type=text] {
  width: 100%;
  height: 40px;
  border: 1px solid #dee2e6;
  background-color: #f5f5f5;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  margin: 6px 0;
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 700;
}

.filter-range li.label {
  width: auto;
  padding: unset;
}

.filter-price {
  text-align: center;
  min-height: 140px;
}

.filter-price .filter-slider {
  padding: 18px 18px 18px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-price .filter-slider .noUi-horizontal {
  height: 4px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.filter-price .filter-slider .noUi-target {
  background-color: #c4c4c4;
  border: 0;
}

.filter-price .filter-slider .noUi-connect,
.filter-price .filter-slider .noUi-origin {
  left: 0;
}

.filter-price .filter-slider .noUi-connect {
  background-color: #000;
}

.filter-price .filter-slider .noUi-handle {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: -9px;
  left: 0;
  right: -12px;
  background-color: #000;
  border: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  cursor: pointer;
}

.filter-price .filter-slider .noUi-handle::before, .filter-price .filter-slider .noUi-handle::after {
  display: none;
}

.seller-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller-info .seller-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 0 auto 15px;
}

.seller-info .seller-avatar .icon {
  font-size: 42px;
}

.seller-info .seller-username {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.seller-info .registrations-date {
  color: #979797;
  font-size: 13px;
  font-weight: bold;
}

.seller-info .seller-statistics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.seller-info .seller-statistics-container .seller-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.seller-info .seller-statistics-container .seller-statistics:last-child {
  margin-left: 0;
}

.seller-info .seller-statistics-container .seller-statistics .value {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.seller-info .seller-statistics-container .seller-statistics .label {
  font-size: 12px;
  font-weight: bold;
}

.sidebar-widgets {
  padding: 10px;
}

@media (max-width: 768px) {
  .responsive-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 90vw;
    background-color: #fff;
    padding: 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow-y: auto;
    z-index: 12;
  }
}

.responsive-sidebar.show {
  right: 0;
}

.responsive-sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  z-index: 11;
}

.responsive-sidebar-overlay.show {
  opacity: 1;
  visibility: visible;
}
