/* ==========================================================================
. Module.Cart.css
========================================================================== */
.cart-items {
  border-radius: 15px;
  overflow: hidden;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  padding: 15px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .cart-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.cart-item .cart-item--thumbnail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

@media (max-width: 480px) {
  .cart-item .cart-item--thumbnail {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.cart-item .cart-item--thumbnail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item .cart-item--thumbnail img {
  max-width: 150px;
}

.cart-item .cart-item--detail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart-item .cart-item--detail .cart-item--title {
  color: #212121;
  font-size: 16px;
}

.cart-item .cart-item--detail .cart-item--title a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cart-item .cart-item--detail .cart-item--title a:hover {
  color: #2962ff;
}

.cart-item .cart-item--detail .cart-item--variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item .cart-item--detail .cart-item--variant .color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.cart-item .cart-item--detail .cart-item--variant .color:last-child {
  margin-left: 0;
}

.cart-item .cart-item--detail .cart-item--data ul {
  list-style: none;
}

.cart-item .cart-item--detail .cart-item--data ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  cursor: default;
}

.cart-item .cart-item--detail .cart-item--data ul li:last-child {
  margin-bottom: 0;
}

.cart-item .cart-item--detail .cart-item--data ul li i {
  margin-left: 5px;
  font-size: 16px;
}

.cart-item .cart-item--detail .cart-item--data ul li span {
  font-size: 12px;
  color: #979797;
}

.cart-item .cart-item--detail .cart-item--price--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .cart-item .cart-item--detail .cart-item--price--actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart-item .cart-item--detail .cart-item--price--actions .cart-item--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .cart-item .cart-item--detail .cart-item--price--actions .cart-item--actions {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 576px) {
  .cart-item .cart-item--detail .cart-item--price--actions .cart-item--actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-item .cart-item--detail .cart-item--price--actions .cart-item--actions .num-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 10px;
  }
}

.cart-item .cart-item--detail .cart-item--price--actions .cart-item--price {
  text-align: left;
}

@media (max-width: 992px) {
  .cart-item .cart-item--detail .cart-item--price--actions .cart-item--price {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.cart-item .cart-item--detail .cart-item--price--actions .cart-item--price .cart-item--discount {
  color: #f44336;
  font-size: 13px;
}

.cart-item .cart-item--detail .cart-item--price--actions .cart-item--price .cart-item--price-now {
  font-size: 19px;
  font-weight: 800;
}
