/* ==========================================================================
. Module.Auth.css
========================================================================== */
.auth-container {
  min-width: 400px;
  max-width: 400px;
  margin: auto;
}

@media (max-width: 480px) {
  .auth-container {
    min-width: 90%;
    max-width: 90%;
  }
}

.auth-container .auth-box {
  padding: 25px;
}

.auth-container .auth-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.auth-container .btn-primary {
  min-height: 50px;
}

.auth-container .form-input-code-container {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid var(--ink-900);
  padding-bottom: 10px;
}

.auth-container .form-input-code-container .form-control {
  width: 60px;
  height: 40px;
  text-align: center;
  border: 1px solid var(--ink-200);
  border-radius: 4px;
  font-size: 21px;
  font-weight: 700;
}

.auth-container .form-input-code-container .divider {
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.auth-container .verify-code-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-right: 50px;
}

.auth-container .verify-code-wrapper #timer--verify-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: iranyekanfanum;
  font-size: 20px;
  position: absolute;
  right: 0;
}

.auth-container .verify-code-wrapper #timer--verify-code .jst-hours {
  display: none;
}

.auth-container .verify-code-wrapper #timer--verify-code.jst-timeout + .send-again {
  display: block;
}

.auth-container .verify-code-wrapper .send-again {
  display: none;
  font-size: 14px;
  text-decoration: none;
}