/* ==========================================================================
. Module.Footer.css
========================================================================== */
.page-footer {
  background-color: #fff;
  border-top: 1px solid #efefef;
}

@media (max-width: 576px) {
  .page-footer .footer-logo-area {
    padding-right: 0;
    padding-left: 0;
  }
  .page-footer .footer-logo-area .logo-container {
    min-width: 100%;
  }
}

.page-footer .trust-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer .trust-symbol a {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.page-footer .trust-symbol a img {
  max-width: 80px;
}

.page-mini-footer {
  background-color: #fff;
  border-top: 1px solid #efefef;
}
