<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    @await Html.PartialAsync("_MetaTags")
   
    <title>@ViewData["Title"] - DigiTekShop</title>
    @await Html.PartialAsync("_LinkTags")
    @RenderSection("Styles", required: false)
</head>
<body>
@await Html.PartialAsync("Header/_Header")
@await Html.PartialAsync("Header/_HeaderResponsive")
<main class="page-content">
    @await Html.PartialAsync("Sections/_container.cshtml")
    @await Html.PartialAsync("Sections/_remodal-remodal-lg.cshtml")
</main>
@await Html.PartialAsync("_Footer")
@RenderSection("Scripts", required: false)
@await Html.PartialAsync("_ScriptTags")
    
@RenderSection("Scripts", required: false)
</body>
</html>