<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_MetaTags" />
    <title>DigiTekShop | home </title>
    <partial name="_LinkTags" />

</head>
<body>
<div class="page-wrapper">
    <partial name="_Headers"/>
        <main class="page-content">
        @RenderBody()
    </main>
        <partial name="_Footer" />
</div>


    <partial name="_ScriptTags" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
