<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_MetaTags" />
    <title>DigiTekShop | home </title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>
<body>
<div class="page-wrapper">
    @await Html.PartialAsync("_Header")

    <main class="page-content">
        @RenderBody()
    </main>
 </div>


<link rel="stylesheet" href="~/js/main.js" asp-append-version="true" />
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>