<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_MetaTags" />
    <title>DigiTekShop | home </title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>
<body>
<div class="page-wrapper">
    @await Html.PartialAsync("_Header")

    <main class="page-content">
        @RenderBody()
    </main>
 </div>


<!-- Modern JavaScript Bundle -->
<script type="module" src="~/dist/js/main.CZ-6AuBu.js" asp-append-version="true"></script>

<!-- Search functionality fix -->
<script src="~/js/search-fix.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>