<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_MetaTags" />
    <title>DigiTekShop | home </title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

</head>
<body>
<div class="page-wrapper">
    @await Html.PartialAsync("_Header")

    <main class="page-content">
        @RenderBody()
    </main>
    <partial name="_Footer" />
</div>


<partial name="_ScriptTags" />
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>