/* ==========================================================================
. Components:Accordion
========================================================================== */
.accordion .accordion-item {
  border: 0;
  border-bottom: 1px solid #efefef;
  border-radius: 0 !important;
}

.accordion .accordion-item .accordion-button {
  font-weight: bold;
  padding-bottom: 45px;
  line-height: 30px;
}

.accordion .accordion-item .accordion-button:focus {
  border-color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion .accordion-item .accordion-body {
  line-height: 2;
}

.accordion .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

