/* ==========================================================================
. Components:Alert
========================================================================== */
.alert {
  border: 0;
  border-radius: 15px;
}

.alert .btn-close {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: none;
}

.alert.banner-container {
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  position: relative;
}

/* دکمه بستن banner حذف شده */

