/* ==========================================================================
. Components:Fancybox
========================================================================== */
.fancybox__container .fancybox__backdrop {
  background-color: #fff;
}

.fancybox__container .fancybox__toolbar {
  background: unset;
}

.fancybox__container .fancybox__toolbar .carousel__button {
  color: #000;
}

.fancybox__container .fancybox__toolbar .carousel__button svg {
  -webkit-filter: unset;
          filter: unset;
}

.fancybox__container .fancybox__toolbar .fancybox__counter {
  font-family: iranyekanfanum;
  color: #000;
  text-shadow: unset;
}

.fancybox__container .fancybox__carousel button {
  color: #000;
}

.fancybox__container .fancybox__carousel button svg {
  -webkit-filter: unset;
          filter: unset;
}

