/* ==========================================================================
. Components:Nav
========================================================================== */
.nav .nav-item.mega-menu-btn, .nav .nav-item.dropdown-btn {
  position: relative;
}

.nav .nav-item.mega-menu-btn .mega-menu,
.nav .nav-item.mega-menu-btn .dropdown-list, .nav .nav-item.dropdown-btn .mega-menu,
.nav .nav-item.dropdown-btn .dropdown-list {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  padding: 25px 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  min-height: 450px;
  max-height: 450px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav .nav-item.mega-menu-btn .mega-menu li,
.nav .nav-item.mega-menu-btn .dropdown-list li, .nav .nav-item.dropdown-btn .mega-menu li,
.nav .nav-item.dropdown-btn .dropdown-list li {
  padding-right: 10px;
  padding-left: 10px;
}

.nav .nav-item.mega-menu-btn .mega-menu li a,
.nav .nav-item.mega-menu-btn .dropdown-list li a, .nav .nav-item.dropdown-btn .mega-menu li a,
.nav .nav-item.dropdown-btn .dropdown-list li a {
  color: #7c7c7c;
  font-size: 13px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav .nav-item.mega-menu-btn .mega-menu li a:hover,
.nav .nav-item.mega-menu-btn .dropdown-list li a:hover, .nav .nav-item.dropdown-btn .mega-menu li a:hover,
.nav .nav-item.dropdown-btn .dropdown-list li a:hover {
  padding-right: 5px;
  color: #2962ff !important;
}

.nav .nav-item.mega-menu-btn .mega-menu li.nav-item-parent a,
.nav .nav-item.mega-menu-btn .dropdown-list li.nav-item-parent a, .nav .nav-item.dropdown-btn .mega-menu li.nav-item-parent a,
.nav .nav-item.dropdown-btn .dropdown-list li.nav-item-parent a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #eee;
}

.nav .nav-item.mega-menu-btn .mega-menu li.nav-item-parent a::after,
.nav .nav-item.mega-menu-btn .dropdown-list li.nav-item-parent a::after, .nav .nav-item.dropdown-btn .mega-menu li.nav-item-parent a::after,
.nav .nav-item.dropdown-btn .dropdown-list li.nav-item-parent a::after {
  content: "\EA64";
  font-family: remixicon;
}

.nav .nav-item.mega-menu-btn .mega-menu a,
.nav .nav-item.mega-menu-btn .dropdown-list a, .nav .nav-item.dropdown-btn .mega-menu a,
.nav .nav-item.dropdown-btn .dropdown-list a {
  display: block;
  color: #000;
  line-height: 30px;
  text-decoration: none;
}

.nav .nav-item.mega-menu-btn .mega-menu.mega-menu-2-col,
.nav .nav-item.mega-menu-btn .dropdown-list.mega-menu-2-col, .nav .nav-item.dropdown-btn .mega-menu.mega-menu-2-col,
.nav .nav-item.dropdown-btn .dropdown-list.mega-menu-2-col {
  width: 400px;
}

.nav .nav-item.mega-menu-btn .mega-menu.mega-menu-2-col li,
.nav .nav-item.mega-menu-btn .dropdown-list.mega-menu-2-col li, .nav .nav-item.dropdown-btn .mega-menu.mega-menu-2-col li,
.nav .nav-item.dropdown-btn .dropdown-list.mega-menu-2-col li {
  width: 50%;
}

.nav .nav-item.mega-menu-btn .mega-menu.mega-menu-3-col,
.nav .nav-item.mega-menu-btn .dropdown-list.mega-menu-3-col, .nav .nav-item.dropdown-btn .mega-menu.mega-menu-3-col,
.nav .nav-item.dropdown-btn .dropdown-list.mega-menu-3-col {
  width: 600px;
}

.nav .nav-item.mega-menu-btn .mega-menu.mega-menu-3-col li,
.nav .nav-item.mega-menu-btn .dropdown-list.mega-menu-3-col li, .nav .nav-item.dropdown-btn .mega-menu.mega-menu-3-col li,
.nav .nav-item.dropdown-btn .dropdown-list.mega-menu-3-col li {
  width: 33.333333333%;
}

.nav .nav-item.mega-menu-btn .dropdown-list, .nav .nav-item.dropdown-btn .dropdown-list {
  min-height: 450px;
  max-height: 450px;
  width: 200px;
}

.nav .nav-item.mega-menu-btn:hover .mega-menu,
.nav .nav-item.mega-menu-btn:hover .dropdown-list, .nav .nav-item.dropdown-btn:hover .mega-menu,
.nav .nav-item.dropdown-btn:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav .nav-link {
  color: #212121;
}

.nav .nav-link:hover {
  color: #2962ff;
}

.nav.nav-tabs {
  border-bottom-color: #efefef;
}

.nav.nav-tabs .nav-link {
  border: 0;
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

.nav.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #212121;
}

.nav.nav-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #2962ff;
  border-radius: 15px 15px 0 0;
}

.nav.nav-tabs .nav-link .counter {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #212121;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

.nav.nav-tabs.nav-pills {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav.nav-tabs.nav-pills .nav-link {
  border-radius: 10px;
  font-size: 13px;
}

.nav.nav-tabs.nav-pills .nav-link.active {
  background-color: #2962ff;
  color: #fff;
}

.nav.nav-tabs.nav-pills .nav-link.active::after {
  display: none;
}

.nav.nav-items-with-icon .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav.nav-items-with-icon .nav-link .nav-link-icon {
  font-size: 18px;
  margin-left: 10px;
}

.nav.nav-light .nav-link {
  color: #fff;
}

