/* ==========================================================================
. Components:Swiper
========================================================================== */
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  color: #212121;
  font-size: 28px;
}

.swiper .swiper-pagination {
  bottom: 0;
  z-index: 1;
}

.swiper.product-swiper-slider {
  padding-top: 20px;
  padding-bottom: 60px;
}

.mini-slider-container {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.mini-slider-container .swiper {
  padding-bottom: 50px;
}

.mini-slider-container .swiper-slide a {
  display: block;
}

.mini-slider-container .swiper-slide img {
  max-width: 100%;
  border-radius: 15px;
}

.mini-slider-container .slider-handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 30px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 1;
  padding: 8px;
}

.mini-slider-container .slider-handler .swiper-button-prev,
.mini-slider-container .slider-handler .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  color: #000;
  cursor: pointer;
  position: unset;
  margin-top: unset;
  z-index: 8;
}

.mini-slider-container .slider-handler .swiper-button-prev {
  margin-left: 20px;
}

.mini-slider-container .slider-handler .swiper-button-prev::after {
  content: "\EA6C";
  font-family: remixicon;
}

.mini-slider-container .slider-handler .swiper-button-next {
  margin-right: 20px;
}

.mini-slider-container .slider-handler .swiper-button-next::after {
  content: "\EA60";
  font-family: remixicon;
}

.mini-slider-container .slider-handler .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: unset;
}

.main-swiper-slider .main-swiper-slide a {
  display: block;
  height: 455px;
  background-size: cover;
  background-position: 50%;
  border-radius: 15px;
}

.main-swiper-slider .main-swiper-slide img {
  display: none;
  border-radius: 15px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .main-swiper-slider .main-swiper-slide a {
    background-image: none !important;
    height: auto !important;
  }
  .main-swiper-slider .main-swiper-slide img {
    display: block;
  }
}

.main-swiper-slider .swiper-button-next,
.main-swiper-slider .swiper-button-prev {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.main-swiper-slider .swiper-button-next::after,
.main-swiper-slider .swiper-button-prev::after {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-swiper-slider .swiper-pagination {
  bottom: 20px;
}

.main-swiper-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

