/* ==========================================================================
. Components:Table
========================================================================== */
.table {
  width: 100%;
}

.table th,
.table td {
  text-align: center;
}

.table tr {
  vertical-align: middle;
}

.table thead th {
  padding: 10px 20px;
}

.table tbody td {
  padding: 15px 10px;
}

.table tbody tr:nth-child(2n) {
  background-color: #f9f9f9;
}

