/* ==========================================================================
. Components:Tooltip
========================================================================== */
.tooltip {
  direction: rtl;
  font-family: iranyekan;
  font-size: 13px;
}

