<div class="search-container">
    <form action="~/search" method="get" class="search-form">
        <input name="q" type="text" class="form-control search-field" placeholder="جستجو کنید..">
        <button class="btn btn-primary btn-search btn-action" type="submit">
            <i class="ri-search-2-line"></i>
        </button>
        <button class="btn btn-primary btn-close-search-result btn-action d-none" type="button">
            <i class="ri-close-line"></i>
        </button>
    </form>

    <div class="search-result-container">
        <div class="search-result-tags-container">
            <div class="search-result-tags-label"><i class="ri-fire-line"></i> بیشترین جستجوهای اخیر</div>
            <ul class="search-result-tags">
                <li><a href="/search?q=گوشی موبایل" class="search-result-tag">گوشی موبایل</a></li>
                <li><a href="/search?q=لوازم خانگی برقی" class="search-result-tag">لوازم خانگی برقی</a></li>
                <li><a href="/search?q=لپ تاپ" class="search-result-tag">لپ تاپ</a></li>
                <li><a href="/search?q=کنسول بازی" class="search-result-tag">کنسول بازی</a></li>
                <li><a href="/search?q=دوچرخه" class="search-result-tag">دوچرخه</a></li>
            </ul>
        </div>
        <div class="border-bottom my-3"></div>
        <ul class="search-result-items">
            <li><a href="/search?q=گوشی موبایل">گوشی موبایل</a></li>
            <li><a href="/search?q=شیائومی">گوشی موبایل شیائومی</a></li>
            <li><a href="/search?q=سامسونگ">گوشی موبایل سامسونگ</a></li>
            <li><a href="/search?q=قاب گوشی">قاب گوشی موبایل</a></li>
            <li><a href="/search?q=اپل">گوشی موبایل اپل</a></li>
        </ul>
    </div>
</div>