<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>داشبورد</title>
    <partial name="_MetaTags" />
    <partial name="_LinkTags" />
</head>
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <partial name="_Navbar" />

    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <partial name="_Sidebar" />
            <partial name="_ChatBar" />
            @RenderBody()
        </div>
    </div>
    <partial name="_ScriptTags" /> 
    @RenderSection("Scripts", required: false)
</body>
</html>
