<div class="ui-box mb-5">
    <div class="ui-box-title">دسته بندی محصولات</div>
    <div class="ui-box-content">
        <div class="categories-container">
            <div class="swiper category-swiper-slider pb-5">
                <div class="swiper-wrapper">

                    @* نمونه چند آیتم دسته *@
                    <div class="swiper-slide">
                        <div class="category-item">
                            <a href="#">
                                <img src="/images/categories/01.jpg" class="category-img" alt="">
                                <span class="category-title">گوشی موبایل</span>
                            </a>
                        </div>
                    </div>

                    @* ... ادامه اسلایدها *@

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>