/* ==========================================================================
   External Dependencies
========================================================================== */

/* Icon Fonts */
@import "./dependencies/remixicon.css";

/* UI Frameworks */
@import "./dependencies/bootstrap.rtl.min.css";

/* Sliders & Carousels */
@import "./dependencies/bootstrap-slider.min.css";
@import "./dependencies/nouislider.min.css";
@import "./dependencies/swiper-bundle.min.css";

/* Modals & Popups */
@import "./dependencies/fancybox.min.css";
@import "./dependencies/remodal.css";
@import "./dependencies/remodal-default-theme.css";

/* Notifications */
@import "./dependencies/iziToast.min.css";

/* Form Controls */
@import "./dependencies/select2.min.css";

/* Scrollbars */
@import "./dependencies/simplebar.css";