<div class="alert banner-container alert-dismissible fade show" role="alert">
    <a href="#" class="banner-placement rounded-0"
       style="background-image: url(/theme-assets/images/banner/017.jpg);height: 60px;"></a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>