<div class="alert banner-container" role="alert" style="display: block !important; visibility: visible !important; opacity: 1 !important; height: auto !important;">
    <a href="#" class="banner-placement rounded-0"
       style="background-image: url(/images/banner/017.jpg); display: block !important; visibility: visible !important; opacity: 1 !important; min-height: 40px !important; height: 40px !important;"></a>
</div>