<div class="logo-container logo-box me-3">
    <a href="~/"
       class="logo d-flex align-items-center gap-2 text-decoration-none">
        <img src="/theme-assets/images/logo.svg" width="120" alt="logo">
        <span class="logo-text">بررسی، انتخاب و خرید آنلاین</span>
    </a>
</div>