<div class="logo-container logo-box me-3">
    <a href="~/"
       class="logo d-flex align-items-center gap-2 text-decoration-none">
        <img src="/images/logopn.png" width="60" alt="logo">
    </a>
</div>