<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="~/">خانه</a></li>
    <li class="nav-item"><a class="nav-link" href="~/blog">وبلاگ</a></li>
    <li class="nav-item"><a class="nav-link" href="~/faq">پرسش های متداول</a></li>
    <li class="nav-item"><a class="nav-link" href="~/contact">تماس با ما</a></li>
    <li class="nav-item"><a class="nav-link" href="~/about">درباره ما</a></li>
</ul>