@model DigiTekShop.MVC.Components.MiniCart.MiniCartViewModel
<div class="user-option user-option--cart">
    <a href="~/cart" class="user-option-btn user-option-btn--cart" title="سبد خرید">
        <i class="ri-shopping-bag-2-fill icon"></i>
        <span class="counter">@Model.Count</span>
    </a>
</div>