<div class="row mb-5">
    <div class="col-md-6 mb-lg-0 mb-3">
        <div class="banner-img">
            <a href="#"><img src="/images/banner/018.jpg" alt=""></a>
        </div>
    </div>
    <div class="col-md-6 mb-lg-0 mb-3">
        <div class="banner-img">
            <a href="#"><img src="/images/banner/019.jpg" alt=""></a>
        </div>
    </div>
</div>