<div class="row mb-5">
    @foreach (var img in new[]{ "020.jpg", "021.jpg", "022.jpg", "023.jpg" })
    {
        <div class="col-md-3 col-6 mb-lg-0 mb-3">
            <div class="banner-img">
                <a href="#"><img src="./theme-assets/images/banner/@img" alt=""></a>
            </div>
        </div>
    }
</div>