<div class="ui-box mb-5">
    <div class="row g-3 text-center">
        <div class="col-6 col-md-3">
            <div class="p-3 border rounded-3 h-100">
                <i class="ri-truck-line fs-3 d-block mb-2"></i>
                <div class="fw-bold">ارسال سریع</div>
                <div class="text-muted fs-7">پست، تیپاکس، پیک</div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="p-3 border rounded-3 h-100">
                <i class="ri-shield-check-line fs-3 d-block mb-2"></i>
                <div class="fw-bold">ضمانت اصالت</div>
                <div class="text-muted fs-7">کالای اصلی و معتبر</div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="p-3 border rounded-3 h-100">
                <i class="ri-customer-service-2-line fs-3 d-block mb-2"></i>
                <div class="fw-bold">پشتیبانی ۲۴/۷</div>
                <div class="text-muted fs-7">پاسخ سریع و دقیق</div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="p-3 border rounded-3 h-100">
                <i class="ri-exchange-dollar-line fs-3 d-block mb-2"></i>
                <div class="fw-bold">۷ روز بازگشت</div>
                <div class="text-muted fs-7">بدون دردسر</div>
            </div>
        </div>
    </div>
</div>