<div class="row mb-3 d-sm-block d-none">
    <div class="col-12">
        <div class="banner-img">
            <a href="#"><img src="./theme-assets/images/banner/025.gif" alt="banner"></a>
        </div>
    </div>
</div>