/* ==========================================================================
    Helpers
========================================================================== */
/* ==========================================================================
. Helpers:Typography
========================================================================== */
.fa-num {
  font-family: iranyekanfanum;
}

.font-en {
  font-family: AdobeClean;
}

.fs-7 {
  font-size: .75rem !important;
}

.fw-bolder {
  font-weight: 800 !important;
}

/* ==========================================================================
. Helpers:Global
========================================================================== */
.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.z-index-0 {
  z-index: 0 !important;
}

.currency {
  font-size: 11px;
  font-weight: 700;
  color: #7b7b7b;
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #a499ff;
  color: #a499ff;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #a499ff;
  color: #a499ff;
}

.ui-box {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 18px;
  padding: 45px 35px;
}

@media (max-width: 768px) {
  .ui-box {
    padding: 20px 15px;
  }
}

.ui-box.ui-box-specials {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.ui-box.ui-box-specials .specials-container {
  text-align: center;
}

.ui-box.ui-box-specials .specials-container img {
  display: block;
  margin: 0 auto 25px;
  max-width: 200px;
}

.ui-box.ui-box-specials .product-card {
  border-radius: 10px;
}

.ui-box.ui-box-specials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.ui-box .ui-box-title,
.ui-box .ui-box-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  position: relative;
}

.ui-box .ui-box-title .ui-box-close,
.ui-box .ui-box-subtitle .ui-box-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 15px;
  background-color: transparent;
  border: 0;
  border-radius: 7px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  width: 35px;
  height: 35px;
}

.ui-box .ui-box-subtitle {
  font-size: 13px;
}

.ui-box .ui-box-content {
  padding: 15px;
}

.ui-box .ui-box-empty-content {
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ui-box .ui-box-empty-content .ui-box-empty-content-icon {
  margin-bottom: 15px;
}

.ui-box .ui-box-empty-content .ui-box-empty-content-icon img {
  max-width: 180px;
}

.ui-box .ui-box-empty-content .ui-box-empty-content-message {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}

.ui-sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.ui-sticky.ui-sticky-top {
  top: 0;
}

.ui-sticky.ui-sticky-box {
  background-color: #fff;
  padding: 10px 0;
}

.magnifier {
  background: #FCFCFD !important;
  border: 1px solid #E6E8EC !important;
  border-radius: 10px;
  -webkit-box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
          box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
}

/* ==========================================================================
. Helpers:Spacing
========================================================================== */
/* ==========================================================================
. Helpers:Form
========================================================================== */
.form-element-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.form-element-row.form-element-row-file {
  background-color: #fff;
  border: 2px dashed #eee;
  border-radius: 10px;
  padding: 25px 15px;
}

.form-element-row .label {
  font-weight: 600;
  margin-bottom: 10px;
}

.form-element-row .icon {
  position: absolute;
  left: 15px;
  font-size: 21px;
  color: #7b7b7b;
}

.form-element-row.with-btn .btn {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
}