@model IEnumerable<DigiTekShop.MVC.Components.NotificationTicker.NotificationItemVm>

<div class="swiper notification-swiper-slider mb-5">
    <div class="swiper-wrapper">
        @foreach (var n in Model)
        {
            <div class="swiper-slide">
                <div class="notification-item">
                    <div class="notification-item--text">@n.Text</div>
                </div>
            </div>
        }
    </div>
</div>