/* ==========================================================================
. Forms:File
========================================================================== */
.custom-input-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-input-file .custom-input-file-input {
  display: none;
}

.custom-input-file .custom-input-file-input:checked + .custom-input-file-label .label {
  border-color: #00bfd6;
  color: #00bfd6;
}

.custom-input-file .custom-input-file-label .label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 2px solid #efefef;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 25px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

