/* ==========================================================================
. Forms:Input
========================================================================== */
.form-control {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  min-height: 50px;
  font-size: 14px;
}

.form-control:hover, .form-control:focus {
  background-color: #fff;
  border: 1px solid #eee;
}

