/* ==========================================================================
. Forms:Quantity
========================================================================== */
.num-block .num-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 115px;
  height: 50px;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.num-block .num-in span {
  display: block;
  width: 30px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

.num-block .num-in span.dis:before {
  opacity: .3;
}

.num-block .num-in span.minus:before {
  content: "\F1AF";
  font-family: remixicon;
  color: #f44336;
}

.num-block .num-in span.plus:after {
  content: "\EA13";
  font-family: remixicon;
}

.num-block .num-in input {
  width: 32px;
  height: 32px;
  border: 0;
  color: #000;
  text-align: center;
  padding: 0;
  outline: none;
}

