/* ==========================================================================
. Helpers:Form
========================================================================== */
.form-element-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.form-element-row.form-element-row-file {
  background-color: #fff;
  border: 2px dashed #eee;
  border-radius: 10px;
  padding: 25px 15px;
}

.form-element-row .label {
  font-weight: 600;
  margin-bottom: 10px;
}

.form-element-row .icon {
  position: absolute;
  left: 15px;
  font-size: 21px;
  color: #7b7b7b;
}

.form-element-row.with-btn .btn {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
}

