@{
    ViewData["Title"] = "Home";
}

    <div class="container">

        @await Html.PartialAsync("Partials/Main/_TopBanner")

        @await Html.PartialAsync("Partials/Main/_HeroWithSideBanners")

        @await Html.PartialAsync("Partials/Main/_DoublePromoBanners")

        @await Html.PartialAsync("Partials/Main/Specials/_SpecialsSlider")

        @await Html.PartialAsync("Partials/Main/Categories/_CategoriesSlider")

        @await Html.PartialAsync("Partials/Main/_QuadBannersRow")

        @await Html.PartialAsync("Partials/Main/Deals/_DealsCarousel")

        @await Html.PartialAsync("Partials/Main/_ServiceFeatures")
        @await Html.PartialAsync("Partials/Main/_BrandCarousel")
        @await Html.PartialAsync("Partials/Main/_BlogTeaser")
        @await Html.PartialAsync("Partials/Main/_AppPromoRow")


    </div>


