@model DigiTekShop.MVC.Components.UserMenu.CurrentUserProfileVm

<div class="user-option user-option--account">
    <a href="~/profile" class="user-option-btn user-option-btn--account">
        <i class="ri-user-fill icon"></i>
        <i class="ri-arrow-down-s-fill icon fs-7 text-muted"></i>
    </a>
    <div class="user-option--dropdown user-option--dropdown-right">
        <div class="profile-user-info ui-box">
            <div class="profile-detail">
                <div class="d-flex align-items-center">
                    <div class="profile-avatar me-3">
                        <img src="@(!string.IsNullOrWhiteSpace(Model.AvatarUrl) ? Model.AvatarUrl : "/images/avatar/default.png")" alt="avatar">
                    </div>
                    <div class="profile-info">
                        <a href="~/profile" class="text-decoration-none text-dark fw-bold mb-2">@Model.FullName</a>
                        @if (!string.IsNullOrWhiteSpace(Model.Phone))
                        {
                            <div class="text-muted fs-7 fw-bold">@Model.Phone</div>
                        }
                    </div>
                </div>

                @* فضای کیف پول/باشگاه مشتریان را بعداً دیتابیس‌بیس می‌کنیم *@
                <div class="user-options">
                    <ul>
                        <li>
                            <span class="label">کیف پول</span>
                            <span class="detail">
                                <span class="d-block">۰ <span class="currency fs-7 fw-bold">تومان</span></span>
                                <a href="~/wallet/deposit" class="link border-bottom-0 text-info fs-7 fw-bold">
                                    افزایش موجودی <i class="ri-arrow-left-s-line"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="label">باشگاه مشتریان</span>
                            <span class="detail">
                                <span class="d-block">۰ <span class="score text-muted fs-7">امتیاز</span></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="nav nav-items-with-icon flex-column">
                <li class="nav-item"><a class="nav-link" href="~/orders"><i class="nav-link-icon ri-file-list-3-line"></i> سفارش‌های من</a></li>
                <li class="nav-item"><a class="nav-link" href="~/club"><i class="nav-link-icon ri-copper-coin-fill"></i> باشگاه مشتریان</a></li>
                <li class="nav-item"><a class="nav-link" href="~/account/logout"><i class="nav-link-icon ri-logout-box-r-line"></i> خروج</a></li>
            </ul>
        </div>
    </div>
</div>
