@model DigiTekShop.MVC.Components.UserMenu.CurrentUserProfileVm
<div class="user-option user-option--account">
    <a href="~/profile" class="user-option-btn user-option-btn--account" title="پروفایل">
        <i class="ri-user-fill icon"></i>
    </a>
</div>