services:
  redis:
    image: redis:7-alpine
    container_name: digitekshop-redis
    entrypoint: ["/bin/sh", "-lc"]
    command: exec redis-server /usr/local/etc/redis/redis.conf --requirepass "$$REDIS_PASS"
    env_file:
      - .env
    volumes:
      - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - ./redis/healthcheck.sh:/usr/local/etc/redis/healthcheck.sh:ro
      - redis-data:/data
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "/usr/local/etc/redis/healthcheck.sh"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks: [backend]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: digitekshop-rabbitmq
    env_file:
      - .env
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks: [backend]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  redis-data:
    driver: local
  rabbitmq-data:
    driver: local

networks:
  backend:
    driver: bridge
