<div class="ui-box mb-5">
    <div class="ui-box-title">منتخب محصولات تخفیف و حراج</div>
    <div class="ui-box-content">
        <div class="swiper product-swiper-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    @await Html.PartialAsync("Partials/Main/Products/_ProductCard", new {
                        Img="01.jpg", Title="iPhone 13 A2634 128GB", Old="26,900,000", Discount="2", Now="26,249,000"
                    })
                </div>

                <div class="swiper-slide">
                    @await Html.PartialAsync("Partials/Main/Products/_ProductCard", new {
                        Img="02.jpg", Title="Xiaomi 11 lite 5G NE 256GB", Old=(string?)null, Discount=(string?)null, Now="8,239,000"
                    })
                </div>

                @* ... ادامه اسلایدها *@

            </div>
        </div>
    </div>
</div>