/* ==========================================================================
   Base Styles
   استایل‌های پایه و reset
========================================================================== */

/* ==========================================================================
   Reset
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $text-primary;
  text-align: right;
  background-color: $bg-primary;
  direction: rtl;
}

/* ==========================================================================
   Typography
========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: $font-weight-bold;
  line-height: $line-height-sm;
  color: inherit;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-right: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $font-weight-bold;
}

dd {
  margin-bottom: 0.5rem;
  margin-right: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: $font-weight-bold;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: darken($primary, 15%);
    text-decoration: underline;
  }

  &:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* ==========================================================================
   Code
========================================================================== */
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
  color: #212529;

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;

  a > & {
    color: inherit;
  }
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.25rem;

  kbd {
    padding: 0;
    font-size: 1em;
  }
}

/* ==========================================================================
   Images
========================================================================== */
img,
svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Tables
========================================================================== */
table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: $text-muted;
  text-align: right;
}

th {
  font-weight: $font-weight-bold;
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

/* ==========================================================================
   Forms
========================================================================== */
label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;

  &:disabled {
    opacity: 1;
  }
}

[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="time"]):not([type="week"]) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 6 7 7 7-7'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
  background-size: 16px 12px;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: right;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

/* ==========================================================================
   Iframes
========================================================================== */
iframe {
  border: 0;
}

/* ==========================================================================
   Summary
========================================================================== */
summary {
  display: list-item;
  cursor: pointer;
}

/* ==========================================================================
   Progress
========================================================================== */
progress {
  vertical-align: baseline;
}

/* ==========================================================================
   Hidden attribute
========================================================================== */
[hidden] {
  display: none !important;
}

/* ==========================================================================
   Page Wrapper
========================================================================== */
.page-wrapper {
  direction: rtl;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-primary;
  font-size: $font-size-base;

  .page-content {
    flex: 1 1 auto;
    padding: 45px 0;

    @include media-breakpoint-down(md) {
      padding: 25px 0;
    }

    &.page-auth {
      display: flex;
      align-items: center;
    }
  }
}

/* ==========================================================================
   Container
========================================================================== */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }

  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 1320px;
  }
}

/* ==========================================================================
   Simplebar
========================================================================== */
.simplebar-track {
  &.simplebar-vertical {
    width: 7px;
    left: 0;
    right: auto;
  }

  .simplebar-scrollbar {
    &::before {
      background-color: #efefef;
      opacity: 1 !important;
    }
  }
}
